.gaAvailability {

}

.gaAvailability table {
  width: 252px;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  float: left;
  margin: 15px;
}

.gaAvailability .month-name {
  text-align: center;
  height: 30px;
}

.gaAvailability .day-of-week-name {
  text-align: center;
  height: 30px;
}

.gaAvailability .day {
  width: 36px;
  height: 36px;
  text-align: center;
}