.travelduck.onlineBookingModal .input-append.date .add-on i,
.travelduck.onlineBookingModal .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}




.travelduck.onlineBookingModal .booking-price-display {
  position: relative;
}

.travelduck.onlineBookingModal .booking-price-display .text:before {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  content: ' ';
  height: 10px;
  top: -10px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 0 0 200% 200%;
}






.travelduck.onlineBookingModal {

}



.travelduck.onlineBookingModal .datepicker-inputs:after {
  content: " ";
  clear: both;
  display: table;
}


.travelduck.onlineBookingModal .datepicker-inputs {
  width: 308px;
}



.travelduck.onlineBookingModal .inputs-wrapper {
  margin: 0 -5px;
  width: 253px;
  float: left;
}

.travelduck.onlineBookingModal .inputs-wrapper:after {
  content: " ";
  clear: both;
  display: table;
}


.travelduck.onlineBookingModal .col50 input {
  width: 100%;
  padding: 6px 6px;
  font-size: 15px;
}













.travelduck.onlineBookingModal .modal-open {
  overflow:hidden
}
.travelduck.onlineBookingModal .modal {
  display:none;
  overflow:auto;
  overflow-y:scroll;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-overflow-scrolling:touch;
  outline:0
}
.travelduck.onlineBookingModal .modal.fade .modal-dialog {
  -webkit-transform:translate(0,-25%);
  -ms-transform:translate(0,-25%);
  transform:translate(0,-25%);
  -webkit-transition:-webkit-transform .3s ease-out;
  -moz-transition:-moz-transform .3s ease-out;
  -o-transition:-o-transform .3s ease-out;
  transition:transform .3s ease-out
}
.travelduck.onlineBookingModal .modal.in .modal-dialog {
  -webkit-transform:translate(0,0);
  -ms-transform:translate(0,0);
  transform:translate(0,0)
}
.travelduck.onlineBookingModal .modal-dialog{
  position:relative;
  width:auto;
  margin:10px;
  z-index:1050;
}
.travelduck.onlineBookingModal .modal-content {
  position:relative;
  background-color:#fff;
  border:1px solid #999;
  border:1px solid rgba(0,0,0,.2);
  border-radius:6px;
  -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
  box-shadow:0 3px 9px rgba(0,0,0,.5);
  background-clip:padding-box;
  outline:0
}
.travelduck.onlineBookingModal .modal-backdrop {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1040;
  background-color:#000
}

.travelduck.onlineBookingModal .modal-backdrop.fade {
  opacity:0;
  filter:alpha(opacity=0)
}
.travelduck.onlineBookingModal .modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.travelduck.onlineBookingModal .modal-header {
  padding: 15px 15px 12px 15px;
  min-height:16.428571429px;
  background-color:#FF851B;
  border-radius: 4px 4px 0 0;
  color: #fff;
  border-bottom: 3px solid #FF7701;
}
.travelduck.onlineBookingModal .modal-header h3 {
  font-family: "Roboto";
  font-weight: 300;
  color: #fff !important;
}
.travelduck.onlineBookingModal .modal-header h3 {

}

.travelduck.onlineBookingModal .modal-header .close {
  margin-top:-2px
}
.travelduck.onlineBookingModal .modal-title {
  margin:0;
  line-height:1.428571429;
}
.travelduck.onlineBookingModal .modal-body {
  position:relative;
  padding:20px;
}
.travelduck.onlineBookingModal .modal-footer {
  margin-top:15px;
  padding:19px 20px 20px;
  text-align:right;
  border-top:1px solid #e5e5e5;
}
.travelduck.onlineBookingModal .modal-footer .btn+.btn {
  margin-left:5px;
  margin-bottom:0;
}
.travelduck.onlineBookingModal .modal-footer .btn-group .btn+.btn {
  margin-left:-1px
}
.travelduck.onlineBookingModal .modal-footer .btn-block+.btn-block {
  margin-left:0
}


.travelduck.onlineBookingModal .modal-dialog{
  width:350px;
  margin:30px auto
}
.travelduck.onlineBookingModal .modal-content{
  -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}


.travelduck.onlineBookingModal .modal-footer:before,
.travelduck.onlineBookingModal .modal-footer:after {
  display:table;
  content:" "
}

.travelduck.onlineBookingModal .modal-footer:after {
  clear:both
}





.travelduck.onlineBookingModal .modal-body .fa-check {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.travelduck.onlineBookingModal .modal-body .fa-check::before {
  color: #93C54B;
  margin-right:6px;
}
.travelduck.onlineBookingModal .modal-body .fa-ul {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom:0;
  font-size: 15px;
}

.travelduck.onlineBookingModal .modal-body .fa-ul span {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

.travelduck.onlineBookingModal .modal-body .fa-ul a {
  cursor: pointer;
}

.travelduck.onlineBookingModal .modal-body a {
  color: #FF5426;
  text-decoration: none;
}
.travelduck.onlineBookingModal .modal-body a:hover,
.travelduck.onlineBookingModal .modal-body a:focus {
  color: #FF5426;
  text-decoration: underline;
}
.travelduck.onlineBookingModal .modal-body a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



.travelduck.onlineBookingModal .booking-display {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}


.travelduck.onlineBookingModal .price-display {
  text-align: center;
}

.travelduck.onlineBookingModal .contact-owner .title,
.travelduck.onlineBookingModal .price-display .text {
  color: #949494;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 300;
}

.travelduck.onlineBookingModal .price-display .price {
  color: #5d5d5d;
  font-size: 28px;
  padding: 5px 0;
}

.travelduck.onlineBookingModal .price-display .period {

}




.travelduck.onlineBookingModal .contact-owner,
.travelduck.onlineBookingModal .price-display {
  padding:20px 0;
}





.travelduck.onlineBookingModal .booking-display-wrapper {
  overflow: hidden;
  position: relative;
  margin: 20px -20px;
  padding: 0 20px;
  background-color: #fcfcfc;
}

.travelduck.onlineBookingModal .booking-display:before {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  content: ' ';
  height: 10px;
  top: -10px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 0 0 200% 200%;
}

.travelduck.onlineBookingModal .booking-display:after {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  content: ' ';
  height: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 200% 200% 0 0;
}

.travelduck.onlineBookingModal .loading-price {
  padding: 20px 0;
  text-align: center;
}


.travelduck.onlineBookingModal .loading-price .text {
  color: #949494;
  font-size: 17px;
}

.travelduck.onlineBookingModal .loading-price img {
  margin-top: 20px;
}


.travelduck.onlineBookingModal .img-round {
  border-radius:50%;
  padding: 3px;
  border: 1px solid #ccc;
}



.travelduck.onlineBookingModal .reset-btn {
  float: right;
  padding: 10px 10px 7px 10px;
}

.travelduck.onlineBookingModal .price-display .btn {
  margin-top: 5px;
}